/*------------------------------------*\
  #INGREDIENTS-LIST
\*------------------------------------*/

.ingredientsList {
	list-style-type: none;
}

.ingredientsList li {
	display : block;
	position: relative;
}

.ingredients__buttonGroup {
	position        : relative;
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
	align-items     : center;
	border          : 1px solid #e8e8e8;
	background-color: white;
	margin-bottom   : 10px;
	border-radius   : 3px;
}

[class^=ingredients__button--] {
	z-index         : 0;
	line-height     : 1;
	border          : none;
	outline         : none;
	background-color: transparent;
	cursor          : pointer;
	font-weight     : normal;
}

.ingredients__button--left,
.ingredients__button--right {
	position   : absolute;
	opacity    : .5;
	width      : 15%;
	line-height: 1.4;
	font-size  : 1.2em;
}

.ingredients__button--left {
	left        : 0;
	text-align  : left;
	padding-left: .3em;
	color       : green;
}

.ingredients__button--right {
	right        : 4px;
	text-align   : right;
	padding-right: .3em;
	color        : crimson;
}

.ingredients__button--right:disabled {
	color: red;
}

.ingredients__button--left:disabled {
	color      : #43a047;
	text-shadow: 0 0 1px #43a047;
}

[class^=ingredients__button--]:disabled {
	opacity    : 1;
	font-weight: bold;
	cursor     : auto;
}

.ingredients__label {
	flex          : 0 1 70%;
	margin        : 5px auto;
	font-family   : palatino, cursive;
	font-style    : italic;
	font-size     : .9em;
	line-height   : 1.2;
	letter-spacing: 1px;
	text-transform: lowercase;
	text-align    : center;
	color         : 0d47a1;
	opacity       : 1;
	text-shadow   : 0 1px 1px #D9D9D9;
	z-index       : 0;
	pointer-events: none;
}

.ingredientsList__type-item {
	margin        : 20px 0;
	font-size     : 18px;
	text-transform: capitalize;
	text-align    : right;
}

@media screen and (max-width: 600px) {
	.ingredients__label {
		line-height   : 18px;
		letter-spacing: 0;
	}

	[class^=ingredients__button--] {
		opacity: .2;
	}

	.ingredients__button--left {
		padding-left: 5px;
	}

	.ingredients__button--right {
		padding-right: 5px;
	}
}
