<template>
	<require from="components/pizza-list.css"></require>
	<require from="resources/value-converters/sort-value-converter"></require>
	<ul class="partyList"
		if.bind="showList">
		<template repeat.for="party of parties | sort: { propertyName: 'sortingWeight', direction: 'descending', propertyName2 : 'naam', direction2: 'ascending' }">
			<li class="partyList__item ${$first ? 'hint--bottom' : 'hint--top'}"
				data-sorting-weight.bind="party.sortingWeight"
				aria-label.one-time="party.ingredienten | ingredientenLijst">
				<h4><span class="partyList__item--number">${party.nummer}</span>
					<div class="partyList__item--title">${party.naam}</div>
				</h4>
			</li>
		</template>
	</ul>
</template>
