/*------------------------------------*\
  #partyList-ITEMS
\*------------------------------------*/

.partyList {
	list-style-type: none;
	padding-left   : 0;
}

.partyList__item {
	display  : block;
	position : relative;
	font-size: 0.8em;
	cursor   : pointer;
}

.partyList__item+.partyList__item {
	margin-top: 20px;
}

.partyList__item--number {
	position: absolute;
}

.partyList__item--title {
	margin-left: 30px;
}

@media screen and (max-width: 600px) {
	.partyList__item+.partyList__item {
		margin-top: 10px;
	}

	.partyList__item--title {
		margin-left: 24px;
	}
}
