/*------------------------------------*\
  #partyList-ITEMS
\*------------------------------------*/

.partyList {
	list-style-type: none;
	padding-left   : 0;
}

.partyList__item {
	position : relative;
	font-size: 1em;
}

.partyList__item+.partyList__item {
	margin-top: 20px;
}

.partyList__item--number {
	position: absolute;
}

.partyList__item--title {
	margin-left: 30px;
}

.partyList__item--ingredients {
	margin        : 3px 0 0 30px;
	font-family   : palatino, cursive;
	font-style    : italic;
	font-size     : .7em;
	text-transform: capitalize;
}

@media screen and (max-width: 600px) {
	.partyList__item+.partyList__item {
		margin-top: 10px;
	}

	.partyList__item--title {
		margin-left: 24px;
	}

	.partyList__item--ingredients {
		margin: 3px 0 0 24px;

			{}
	}
